---
import ObserverLayout from '../../layouts/observer/ObserverLayout.astro';
---

<ObserverLayout>
  <ul
    class="fixed left-0 top-0 z-10 box-border flex w-full items-center justify-between bg-zinc-300 p-2 sm:p-3"
  >
    <li><a class="text-indigo-500" href="/">Home</a></li>
    <li>One</li>
    <li><a class="text-indigo-500" href="./two">Two</a></li>
    <li><a class="text-indigo-500" href="./three">Three</a></li>
  </ul>

  <h1 class="mt-14 pl-2 sm:pl-3 text-4xl">One</h1>
</ObserverLayout>
